
.label {
    content: "";
    background-color: #32425c;
    color: #ffffff;
    padding: 10px 9px;
}
input:checked + .label {
    content: "";
    background-color: #ffffff;
    color: #32425c;
}
.labeltwo{
    content: "";
    background-color: #32425c;
    color: #ffffff;
    padding: 10px 9px;
}
input:checked + .labeltwo {
    content: "";
    background-color: #ffffff;
    color: #32425c;
}
.labeltree{
    content: "";
    background-color: #32425c;
    color: #ffffff;
    padding: 10px 17.5px;
}
input:checked + .labeltree {
    content: "";
    background-color: #ffffff;
    color: #32425c;
}
.service-list__button {
    font-size: 21px;
    line-height: 30px;
    border-right: 10px;
    margin: 15px;
}
.box {
    display: none;
}
.img {
    display: none;
}
.box:checked ~ .img {
    display: block;
    position: absolute;
    right:-50px ;
}
